# Publishes the Markdown pages.
name: Publish to github-pages

on:
  push:
    branches: [ "main" ]

  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false
  
jobs:
  publish_html:
    name: "publish html"
    runs-on: ubuntu-latest 
    steps: 
    - uses: actions/checkout@v4
    
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
    
    - name: Install tester
      run: wget "https://github.com/sib-swiss/sparql-examples-utils/releases/download/v2.0.23/sparql-examples-utils-2.0.23-uber.jar" -O sparql-examples-utils-uber.jar

    - name: generate markdown
      run: java -jar sparql-examples-utils-uber.jar convert -i examples/ -m 
    
    - name: generate rq files
      run: java -jar sparql-examples-utils-uber.jar convert -i examples/ -r

    - name: Additional fixes
      run: bash additional_fixes.sh

    - uses: actions/configure-pages@v5
      id: pages

    - uses: quarto-dev/quarto-actions/setup@v2

    - uses: quarto-dev/quarto-actions/render@v2

    - uses: actions/upload-pages-artifact@v3

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: publish_html
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
